@import"fonts";
@import"color";
@import"menu";
@import"responziv";
@import"tabulky";
@import"footer";

/* Uvod */
html {
	font-family: 'Ubuntu';
	font-size: 16px;
}



.container {
	width: 1200px;
	margin: 0 auto;
}


main {
	display: flex;
	flex-direction: column;
	align-items: center;
}



/*Sekce uvod*/

.uvod {
	display: flex;
	margin: 0 0.6em;

	h1 {

		font-size: 1.3em;
		text-align: center;
		padding: 2em 0 1em 0;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.tucne {
		font-weight: bold;
		font-size: 1.1em;
	}

	p {
		letter-spacing: 1.5px;
		line-height: 150%;
		text-align: center;
	}

	.normaltext {
		text-align: left;
	}
}





/*Telo Webu*/

.container {
	padding-top: 2em;
	width: 55vw;

	.cara {
		border-top: 1px solid #000;

	}

	.caradve {
		height: 1px;
		width: 40vw;
		background: #000;
		margin: 0 auto;
	}
}



//	display: flex;
//	padding: 2em 0;
//	justify-content: center;
//	flex-direction: column;
//	align-items: center;

h2 {
	font-size: 1.5em;
	color: $color-pismo-nadpis;
	padding-bottom: 1em;
	margin-top: 1em;
	text-align: center;

}

.fotouvod {
	display: flex;

	a {

		text-decoration: none;

		.zophobas {
			padding-top: 5.8em;
		}

		.stin {
			box-shadow: 4px 5px 5px #000000;
		}


		img {
			border-radius: 0.4em;
			margin: 0 1em;
			transition: 0.3s;





			/*
				&:hover {

					
					
					box-shadow: 5px 2px 6px 1px #000;
					border-radius: 0.8em;

				}*/

		}

		p {
			text-align: center;
			color: $color-pismo-nadpis;
			margin: 0.5em;
			font-size: 1.1em;
			font-weight: bold;

		}
	}


}

/*tabulka*/



/*HMYZ*/

.texthmyz {
	display: flex;
	flex-direction: column;

	h3 {
		text-align: center;
		font-weight: bold;
	}

	p {
		text-align: center;
		padding: 0.5em 0 2em;

	}
}


.mys {
	.mysfoto {
		.obrazek {
			a {
				.textcopy {
					color: #000;
					text-shadow: none;
				}

			}
		}
	}

	.mysfototext {
		.hmyztext {
			display: flex;
			width: 220px;
			flex-direction: column;
			align-items: center;


			h3 {
				text-align: center;
			}

			h4 {
				font-weight: bold;
				font-size: 0.8em;
				padding: 0.5em;
			}

			p {
				text-align: center;
			}

			img {
				justify-content: center;
			}
		}


	}
}

.mys {
	.hmyzfotocena {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	h3 {
		font-size: 1em;
		padding: 0.6em;
		font-weight: bold;
	}

	p {
		padding: 0.5em;
	}
}



/*Mys*/

.container {
	.mystext {
		h1 {
			text-align: center;
			font-size: 1.6em;
			padding-bottom: 1em;
		}

		h2 {
			text-align: center;
			font-size: 1.2em;
		}

		p {
			text-align: justify;
			letter-spacing: 0.5px;
			font-size: 1.1em;
			padding: 1em;
			text-indent: 1em;
			line-height: 150%;
		}
	}
}


/*myš...*/

.mys {
	display: flex;
	justify-content: space-around;

	.mysfoto {
		.obrazek {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			grid-template-areas: "obrazek";


			a {
				text-decoration: none;
				display: grid;
				color: #fff;
				align-items: end;
				justify-items: end;
			}

			img {
				grid-area: obrazek;
				border-radius: 8px;
			}

			p {
				padding: 5px 8px;
				grid-area: obrazek;
				color: #fff;
				z-index: 1;
				text-shadow: 2px -1px 1px #000;
				font-size: 0.8em;
			}
		}
	}
}



.mysfototext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h3 {
		font-weight: bold;
		font-size: 1.2em;
		color: $color-pismo-nadpis;
	}

	.italic {
		font-weight: bold;
		font-style: italic;
		font-size: 0.8em;
		padding-bottom: 0.5rem;
	}

	p {
		line-height: 150%;
	}
}

.mysfotocena {
	display: flex;
	align-items: center;

	h3 {
		font-weight: bold;
		font-size: 1.2em;
		color: $color-pismo-nadpis;
	}

}

/*Podstranka*/

.hole {
	display: flex;
	flex-direction: column;

	.tlacitka {
		display: flex;
		justify-content: space-between;

		a {
			text-decoration: none;
			font-size: 1em;
			color: $color-pismo-nadpis;
			padding: 1em 2em;
			border: 1px solid #ddd;
			border-radius: 10px;
			margin: 0 15px;
			transition: all 0.2s ease;

			&:hover {
				border: 1px solid #000;
			}
		}

		.tlacitkoZpet {
			display: flex;

			a {


				&:hover i {
					transform: translateX(-10px);
				}

				.fa-angles-left {
					margin-right: 15px;
					transition: all 0.2s ease;

				}
			}
		}

		.tlacitkoDalsi {
			display: flex;

			a {
				&:hover i {
					transform: translateX(10px);
				}

				.fa-angles-right {
					margin-left: 15px;
					transition: all 0.2s ease;
				}
			}
		}

	}

	h1 {
		font-size: 21px;
		text-align: center;
		padding: 1em;
		color: $color-pismo-nadpis;
	}

}



.fotorada {
	display: flex;
	justify-content: center;
	padding-bottom: 3em;
	margin: 0 1em;
	align-items: center;

	img {
		border-radius: 10px;
		margin: 0 1em;
	}
}

.fotopodrada {
	display: flex;
	justify-content: center;

	.stin {
		box-shadow: none;
	}

	img {
		border-radius: 10px;
		margin-bottom: 2em;
		box-shadow: 5px 3px 7px #000;
	}
}

.popismys {
	display: flex;
	flex-direction: column;

	h2 {
		font-size: 18px;
		text-align: center;
		padding-bottom: 0.5em;
	}

	h3 {
		text-align: center;
		font-style: italic;
		font-size: 0.8em;
		font-weight: bold;
		padding-bottom: 0.5em;
	}

	p {
		padding-bottom: 1em;
		text-align: justify;
		line-height: 150%;
		text-indent: 1em;
		word-spacing: 1px;
	}
}





/*responziv */