@media (max-width: 1220px) {
	.logo {
		justify-content: space-around;

		.listakontakt {
			flex-direction: column;

			p {
				margin: 0.4em;
			}
		}
	}
}

@media (max-width: 920px) {
	.hole {
		.fotorada {
			img {
				width: 30vw;
				height: auto;
			}
		}
	}
}



@media (max-width: 905px) {
	.mys {
		flex-direction: column;
		align-items: center;


		.mysfototext {
			h3 {
				padding: 1em;
				font-size: 1.1em;
			}

			p {

				display: none;

			}

			.mysfotocena {
				padding: 0.4em;
				font-size: 1em;
			}
		}
	}

	.hole {
		h1 {
			font-size: 4vw;
		}

		.popismys {
			h2 {
				font-size: 3vw;
			}
		}

	}
}



@media (max-width: 828px) {
	.logo {
		flex-direction: column;
		padding-left: 0em;

		.listakontakt {
			align-items: center;

		}
	}
}

.container {
	padding-top: 2em;
	width: 70vw;

	.cara {
		border-top: 1px solid #000;

	}
}


@media (max-width: 710px) {

	.fotouvod {
		flex-direction: column;

		img {
			margin-top: 1em;
		}
	}
}


@media (max-width: 666px) {

	.hole {
		.fotorada {
			flex-direction: column;
			align-items: center;

			img {
				width: 60vw;
				margin-top: 1em;
			}
		}
	}

}




@media (max-width: 444px) {


	.logo {
		justify-content: center;

		img {
			width: 80vw;
			height: auto;
		}

		.listakontakt {
			p {
				font-size: 5vw;

				a {
					padding: 0;
				}
			}

		}
	}

	header {
		nav {
			ul {
				flex-direction: column;
				align-items: center;

				li {
					a {
						font-size: 5vw;
					}
				}
			}
		}
	}





	.container {
		.mystext {
			h1 {
				font-size: 6vw;
			}
		}
	}



	.mys {
		.mysfototext {
			h3 {
				font-size: 5vw;
			}

			img {
				width: 80vw;
				height: auto;
			}
		}

		.mysfotocena {
			h3 {
				font-size: 5vw;
			}
		}
	}





	footer {
		.container {
			flex-direction: column;
			align-items: center;

			nav {

				ul {
					display: flex;
					flex-direction: column;
					align-items: center;

					li {
						text-align: center;
						display: flex;
					}
				}

			}



			.footerkontakt {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 0;
			}
		}
	}

	.mysfoto {
		display: flex;

		.obrazek {

			a {

				p {
					text-decoration: none;
					color: #fff;
				}

				img {
					width: 100%;
					height: auto;
				}
			}

		}


	}

	.mystext {
		p {
			display: none;
		}
	}

	.fotopodrada {
		img {
			width: 80vw;
			height: auto;
		}
	}

}

@media (max-width: 350px) {

	h2 {
		font-size: 9vw;
	}

	.fotouvod {
		img {
			width: 90vw;
			height: auto;

		}
	}
}


@media (max-width: 305px) {
	.uvod {
		p {
			display: none;
		}
	}
}




@media (max-width: 265px) {
	header {
		nav {
			ul {
				li {
					a {
						font-size: 10.5vw;
					}
				}
			}
		}
	}

	.mys {
		.mysfoto {
			.obrazek {
				a {
					p {
						font-size: 5vw;
					}
				}
			}
		}
	}



	footer {
		p {
			font-size: 5.6vw;
		}
	}

	.spodek {

		.copyrajt {
			p {
				font-size: 7vw;
			}

		}

	}
}