.tabulkacena {
	display: flex;
	padding-top: 2em;
	flex-direction: column;
	align-items: center;

	h3 {
		padding: 10px;
		font-size: 20px;
	}


	table {

		display: flex;

		.tabulkaprvniradka {
			font-weight: bold;


			th {
				padding: 1em;
				font-size: 1em;
				color: $color-pismo-nadpis;
			}



		}



		tr {
			border: 1px solid $color-pismo-nadpis;

			&:nth-child(even) {
				background-color: #ddd;


			}

			td {
				text-align: center;
				font-weight: bold;
				padding: 1em 3em;
				border: 1px solid #000;

			}

			&:hover {
				color: #fff;
				background-color: $color-pismo-nadpis;
			}

		}
	}
}


@media (max-width: 666px) {

	.tabulkacena {

		h3 {
			font-size: 5vw;
		}

		table {
			tr {
				td {
					padding: 1em;

				}
			}
		}

	}
}






@media (max-width: 444px) {

	table {
		width: 100%;

		tr {
			width: 90vh;

			th {
				padding: auto;
			}

			td {
				padding: 0;
			}
		}
	}
}

@media (max-width: 320px) {
	.tabulkacena {
		table {
			.tabulkaprvniradka {
				th {
					font-size: 7vw;
				}
			}

			tr {
				td {
					font-size: 6vw;
				}
			}
		}

	}
}